.titulo{
    border: solid rgb(3, 3, 3);
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: grey;
    
    background-attachment:fixed;
    background-size:contain;
}

