.titulo{
    border: solid rgb(3, 3, 3);
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: auto;
    background-color: #f2c98f;
    background-attachment: fixed;
    background-size: cover;
}

