#cuerpo{
    background-color: #f2c98f;
    width: auto;
    display: flex;
    
    
}
#cuerpo img{
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
    height: 300px;
}

.detalle{
    margin-left: 50px;
    width: 40rem;
}
.btn-success{
    color: white;
   margin-block-end: 50px;
}