#produ{
    display: flex;
    align-items: center;
    align-content: center;
    text-justify:distribute;
    
    gap: 30px;
    border:groove;
    margin-top:10px;
    
}
#produ img{
    margin-top: 20px;
    width: 200px;
    height: 250px;
}


.card{
width: 19rem;
gap: 30px;
cursor: pointer;
}

.img{
    display: flex;
    justify-content: center;
}
.card-title{
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
}